@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: grey;
  color:black;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body.dark {
  background-color: black;
  color:white;
}

.btn {
  background-color: grey;
}

body.dark .btn {
  background-color: black;
}